In [25]:
from faker import Faker
from faker.providers import BaseProvider
import random

In [3]:
fake_data  = Faker(["id_ID"])

### 1.Alamat

In [13]:
alamat = [fake_data.address() for _ in range(10)]
alamat

['Gg. Ahmad Yani No. 52\nTebingtinggi, BA 73909',
 'Gang Moch. Toha No. 7\nPangkalpinang, Kalimantan Utara 55800',
 'Jl. Asia Afrika No. 1\nBalikpapan, Papua 77928',
 'Jl. Suniaraja No. 2\nPontianak, KT 74966',
 'Jl. Ahmad Dahlan No. 85\nPadangpanjang, Sulawesi Barat 10353',
 'Gg. Setiabudhi No. 475\nYogyakarta, PB 16974',
 'Jalan Jend. Sudirman No. 9\nMetro, SN 01243',
 'Jalan Cihampelas No. 960\nJambi, Sulawesi Utara 29783',
 'Jl. Wonoayu No. 59\nSerang, SG 57171',
 'Jl. Medokan Ayu No. 37\nMetro, Kepulauan Bangka Belitung 62675']

### 2. Nama

In [12]:
nama_pria = [fake_data.name_male() for _ in range(5)]
nama_wanita = [fake_data.name_female() for _ in range(5)]
nama = nama_pria + nama_wanita
nama

['Paramita Utami, S.Kom',
 'Dadi Prakasa',
 'Wulan Simbolon',
 'Rizki Puspita',
 'Cut Keisha Damanik, S.Ked',
 'KH. Emin Rajata',
 'Dt. Kurnia Prasetya',
 'Karimah Nababan, S.Gz',
 'Gamani Hasanah',
 'Langgeng Kuswandari']

### 3.Gender

In [16]:
gender = ["pria" for _ in range(5)] + ["wanita" for _ in range(5)]
gender

['pria',
 'pria',
 'pria',
 'pria',
 'pria',
 'wanita',
 'wanita',
 'wanita',
 'wanita',
 'wanita']

### 4.Pendidikan

In [33]:
pendidikan = ["Sarjana", "SMA/SMK/MA", "SMP", "SD"]

hasil_pendidikan = []

for n in nama:
    split_nama = n.split(', ')
    if len(split_nama) > 1 and split_nama[1].startswith('S'):
        hasil_pendidikan.append("Sarjana")
    else:
        random_pendidikan = random.choice(pendidikan)
        hasil_pendidikan.append(random_pendidikan)

for i in range(10):
    print(f'{nama[i]} : {hasil_pendidikan[i]}')


hasil_pendidikan

Paramita Utami, S.Kom : Sarjana
Dadi Prakasa : Sarjana
Wulan Simbolon : SMP
Rizki Puspita : SD
Cut Keisha Damanik, S.Ked : Sarjana
KH. Emin Rajata : Sarjana
Dt. Kurnia Prasetya : SMA/SMK/MA
Karimah Nababan, S.Gz : Sarjana
Gamani Hasanah : SMA/SMK/MA
Langgeng Kuswandari : Sarjana

['Sarjana',
 'Sarjana',
 'SMP',
 'SD',
 'Sarjana',
 'Sarjana',
 'SMA/SMK/MA',
 'Sarjana',
 'SMA/SMK/MA',
 'Sarjana']

### 5. Umur

In [42]:
umur = []

for i in range(len(nama)):
    split_nama = nama[i].split(' ')
    umur_min, umur_max = 15,60
    umur_range = (25,umur_max) if 'Sarjana' in hasil_pendidikan[i] else (umur_min, umur_max)
    
    if split_nama[0] == 'KH':
        umur_range = (30, umur_max)
    
    umur.append(random.randint(umur_range[0], umur_range[1]))

for i in range(10):
    print(f'{nama[i]} : {hasil_pendidikan[i]} : {umur[i]}')

Paramita Utami, S.Kom : Sarjana : 47
Dadi Prakasa : Sarjana : 48
Wulan Simbolon : SMP : 43
Rizki Puspita : SD : 52
Cut Keisha Damanik, S.Ked : Sarjana : 46
KH. Emin Rajata : Sarjana : 57
Dt. Kurnia Prasetya : SMA/SMK/MA : 32
Karimah Nababan, S.Gz : Sarjana : 35
Gamani Hasanah : SMA/SMK/MA : 19
Langgeng Kuswandari : Sarjana : 60

### 6. Nomer Telepon

In [26]:
def random_number(length):
    return ''.join(random.choice("0123456789") for _ in range(length))

In [30]:
nomor_telpon = [f"+628{random_number(2)}-{random_number(4)}-{random_number(4)}" for _ in range (10)]
nomor_telpon

['+62850-8671-5873',
 '+62834-8856-6833',
 '+62886-9719-1259',
 '+62874-7956-4993',
 '+62877-4105-9462',
 '+62805-4887-7182',
 '+62874-5339-8416',
 '+62861-1437-7018',
 '+62855-6352-2552',
 '+62806-9558-8987']

### 7. Pernikahan

In [32]:
status_pernikahan = [random.choice(['Sudah menikah','Single']) for _ in range(10)]
status_pernikahan

['Single',
 'Sudah menikah',
 'Sudah menikah',
 'Single',
 'Single',
 'Sudah menikah',
 'Sudah menikah',
 'Single',
 'Sudah menikah',
 'Single']

### 8. Pendapatan

In [48]:
pendapatan = []

for i in range(len(nama)):
    pendapatan_min, pendapatan_max = 4000000, 100000000  # Rentang default
    jarak_pendapatan = 500000

    if 'Sarjana' in hasil_pendidikan[i]:
        pendapatan_range = (8000000, pendapatan_max)
    elif 'KH' in nama[i]:
        pendapatan_range = (15000000, pendapatan_max)
    else:
        pendapatan_range = (pendapatan_min, pendapatan_max)

    pendapatan_random = random.randint(pendapatan_range[0], pendapatan_range[1])
    pendapatan_bulat = round(pendapatan_random / jarak_pendapatan) * jarak_pendapatan

    pendapatan.append(pendapatan_bulat)
pendapatan

[29000000,
 48000000,
 30500000,
 61000000,
 80500000,
 91500000,
 28500000,
 24500000,
 83000000,
 88000000]

In [49]:
for i in range(10):
    print(f'{nama[i]} : {hasil_pendidikan[i]} : {pendapatan[i]}')

Paramita Utami, S.Kom : Sarjana : 29000000
Dadi Prakasa : Sarjana : 48000000
Wulan Simbolon : SMP : 30500000
Rizki Puspita : SD : 61000000
Cut Keisha Damanik, S.Ked : Sarjana : 80500000
KH. Emin Rajata : Sarjana : 91500000
Dt. Kurnia Prasetya : SMA/SMK/MA : 28500000
Karimah Nababan, S.Gz : Sarjana : 24500000
Gamani Hasanah : SMA/SMK/MA : 83000000
Langgeng Kuswandari : Sarjana : 88000000

In [96]:
import pandas as pd
from faker import Faker
import random

class RandomDataGenerator:
    def __init__(self, jumlah_data):
        """
        Inisialisasi objek RandomDataGenerator.

        Parameters:
            jumlah_data (int): Jumlah data yang akan digenerate.
        """
        self.fake_data = Faker(["id_ID"])
        self.jumlah_data = jumlah_data
        
    def generate_data(self):
        """
        Mengenerate data acak berdasarkan jumlah data yang diinginkan.

        Returns:
            list: List berisi data-data acak.
        """
        self.nama_pria = [self.fake_data.name_male() for _ in range(self.jumlah_data // 2)]
        self.nama_wanita = [self.fake_data.name_female() for _ in range(self.jumlah_data // 2)]
        self.nama = self.nama_pria + self.nama_wanita
        self.gender = ["pria" for _ in range(self.jumlah_data // 2)] + ["wanita" for _ in range(self.jumlah_data // 2)]
        self.alamat = [self.fake_data.address() for _ in range(self.jumlah_data)]
        self.pendidikan = ["Sarjana", "SMA/SMK/MA", "SMP", "SD"]
        self.status_pernikahan = [random.choice(['Sudah menikah', 'Single']) for _ in range(self.jumlah_data)]
        
        hasil_pendidikan = []
        umur = []
        nomor_telepon = []
        pendapatan = []
        customer_id = []

        for n in self.nama:
            split_nama = n.split(', ')
            if split_nama[0].lower().startswith('dr.') or split_nama[0].lower().startswith('drs.'):
                hasil_pendidikan.append("Doktor")
            elif len(split_nama) > 1 and split_nama[1].startswith('M'):
                hasil_pendidikan.append("Magister")
            elif len(split_nama) > 1 and split_nama[1].startswith('S') or (split_nama[0].lower().startswith('ir.')):
                hasil_pendidikan.append("Sarjana")
            
            
            else:
                random_pendidikan = random.choice(self.pendidikan)
                hasil_pendidikan.append(random_pendidikan)
                
        for _ in range(self.jumlah_data):
            split_nama = self.nama[_].split(' ')
            umur_min, umur_max = 15, 60
           
            if 'Doktor' in hasil_pendidikan[_]:
                umur_range = (30, umur_max)
            elif 'Magister' in hasil_pendidikan[_]:
                umur_range = (28, umur_max)
            elif 'Sarjana' in hasil_pendidikan[_]:
                umur_range = (25, umur_max)
            elif split_nama[0].lower().startswith('KH.') or split_nama[0].lower().startswith('HJ.'):
                umur_range = (33, umur_max)
            else:
                (umur_min, umur_max)
            umur.append(random.randint(umur_range[0], umur_range[1]))
            
        for _ in range(self.jumlah_data):
            nomor_telepon.append(f"+628{self.random_number(2)}-{self.random_number(4)}-{self.random_number(4)}")
            
        for _ in range(self.jumlah_data):
            pendapatan_min, pendapatan_max = 4000000, 100000000
            jarak_pendapatan = 500000

            if 'Doktor' in hasil_pendidikan[_]:
                pendapatan_range = (8000000, pendapatan_max)
            elif 'Magister' in hasil_pendidikan[_]:
                pendapatan_range = (12000000, pendapatan_max)
            elif 'Sarjana' in hasil_pendidikan[_]:
                pendapatan_range = (20000000, pendapatan_max)
            elif 'KH' in self.nama[_].lower() or 'HJ' in self.nama[_].lower():
                pendapatan_range = (15000000, pendapatan_max)
            else:
                pendapatan_range = (pendapatan_min, pendapatan_max)

            pendapatan_random = random.randint(pendapatan_range[0], pendapatan_range[1])
            pendapatan_bulat = round(pendapatan_random / jarak_pendapatan) * jarak_pendapatan

            pendapatan.append(pendapatan_bulat)

        for _ in range(self.jumlah_data):
            customer_id.append(f"CUS_{self.random_number(6)}")
            
        
        data = []
        for i in range(self.jumlah_data):
            data.append({
                "customer_id": customer_id[i],
                "nama": self.nama[i],
                "gender": self.gender[i],
                "pendidikan": hasil_pendidikan[i],
                "umur": umur[i],
                "alamat": self.alamat[i],
                "nomor_telepon": nomor_telepon[i],
                "status_pernikahan": self.status_pernikahan[i],
                "pendapatan": pendapatan[i]
                
            })
            
        return data
    
    def random_number(self, length):
        """
        Mengenerate angka acak sepanjang panjang yang ditentukan.

        Parameters:
            length (int): Panjang angka yang ingin digenerate.

        Returns:
            str: Angka acak dalam bentuk string.
        """
        return ''.join(random.choice("0123456789") for _ in range(length))

# Generate data
generator = RandomDataGenerator(1000)
data = generator.generate_data()

# Create DataFrame
df = pd.DataFrame(data).sort_values(by="customer_id")
# df.set_index('customer_id', inplace=True)
df.loc[df['nama'].str.contains('KH', case=False), "gender"] = "pria"
df.loc[df['nama'].str.contains('Hj', case=False), "gender"] = "wanita"


df.to_csv(f"dummy_data_{len(df)}.csv",index=False)

,customer_id,nama,gender,pendidikan,umur,alamat,nomor_telepon,status_pernikahan,pendapatan
0,CUS_859981,Tgk. Surya Lailasari,wanita,SMA/SMK/MA,27,"Gang HOS. Cokroaminoto No. 3\nBau-Bau, SS 20421",+62880-6721-2455,Single,75000000
1,CUS_178188,"Kamaria Siregar, M.M.",wanita,Magister,59,"Gang Moch. Ramdan No. 923\nPalu, Kalimantan Se...",+62847-4043-9176,Sudah menikah,74000000
2,CUS_503868,"Sutan Legawa Permata, M.TI.",wanita,Magister,37,"Jalan Rajiman No. 3\nTidore Kepulauan, KB 46866",+62886-0240-3358,Single,96500000
3,CUS_595925,Kawaca Kuswoyo,wanita,SD,59,"Gg. KH Amin Jasuta No. 8\nBekasi, Bengkulu 86299",+62875-1834-7921,Sudah menikah,10500000
4,CUS_674092,"Upik Tamba, M.Farm",pria,Magister,35,"Gg. Ahmad Dahlan No. 45\nManado, SU 76578",+62875-4584-2025,Sudah menikah,87500000
5,CUS_459854,Yulia Natsir,pria,SMA/SMK/MA,18,"Jl. Raya Ujungberung No. 313\nPadang, JT 03132",+62853-0005-2810,Sudah menikah,26000000
6,CUS_440942,Yulia Santoso,pria,SMA/SMK/MA,42,"Gg. Jamika No. 9\nCimahi, Aceh 11281",+62898-8332-8149,Single,75000000
7,CUS_381110,"Ir. Baktiadi Zulaika, S.IP",wanita,Sarjana,31,"Jl. Cikutra Barat No. 72\nManado, KT 64069",+62849-4877-2521,Sudah menikah,97000000
8,CUS_175306,Dr. Umi Usada,pria,Doktor,38,"Gang Pelajar Pejuang No. 5\nTanjungbalai, JB 1...",+62869-8192-9602,Sudah menikah,46000000
9,CUS_565925,Siti Dongoran,wanita,Sarjana,16,"Gang Gedebage Selatan No. 05\nPasuruan, SS 82268",+62873-2632-3662,Single,96000000
10,CUS_376917,Ir. Padmi Utama,wanita,Sarjana,44,"Jalan Kutai No. 03\nKediri, SU 70210",+62882-4382-5836,Single,90500000
11,CUS_617406,Puti Pranowo,wanita,SMP,54,"Gang Raya Ujungberung No. 163\nPadang, Sumater...",+62844-8841-6731,Sudah menikah,17000000
12,CUS_581487,Tasnim Pranowo,wanita,SD,54,"Gang Gegerkalong Hilir No. 9\nPagaralam, GO 70553",+62886-9534-6569,Single,76500000
13,CUS_565977,Dr. Bahuraksa Adriansyah,pria,Doktor,46,"Jl. M.H Thamrin No. 54\nLhokseumawe, Maluku 90266",+62829-5601-3988,Sudah menikah,62000000
14,CUS_921858,Damar Usada,pria,SD,42,"Jl. Dr. Djunjunan No. 836\nBengkulu, NT 75030",+62896-5034-2912,Sudah menikah,75000000
15,CUS_400929,Zamira Kurniawan,wanita,SMA/SMK/MA,57,"Gg. Ahmad Dahlan No. 711\nBima, Jawa Timur 93835",+62890-2566-2885,Single,26500000
16,CUS_594638,drg. Harimurti Samosir,pria,SMA/SMK/MA,40,"Gg. Rawamangun No. 4\nTebingtinggi, Lampung 24897",+62870-8754-3409,Single,30500000
17,CUS_000499,Sabri Anggriawan,pria,SMP,31,"Gang W.R. Supratman No. 0\nDenpasar, KB 00927",+62843-0955-9425,Sudah menikah,94500000
18,CUS_174787,Juli Hutasoit,pria,SD,39,"Gang Jend. A. Yani No. 667\nSurakarta, Lampung...",+62882-9090-3253,Single,78000000
19,CUS_561813,Bahuwirya Januar,pria,SMP,35,"Jl. Ciwastra No. 505\nSurakarta, MA 63610",+62815-7065-4922,Single,91000000

In [95]:
len(shuffled_df)

20

In [149]:
df = pd.read_csv('dummy_data_1000.csv')
df

,customer_id,nama,gender,pendidikan,umur,alamat,nomor_telepon,status_pernikahan,pendapatan
0,CUS_000785,"Tgk. Tedi Namaga, S.Pt",wanita,Sarjana,37,"Jl. Cikutra Timur No. 868\nBukittinggi, Kalima...",+62890-3719-0138,Sudah menikah,48000000
1,CUS_001339,"Balidin Budiyanto, M.Farm",pria,Magister,57,"Gg. Ciwastra No. 70\nDenpasar, SB 30061",+62888-3559-7612,Sudah menikah,91000000
2,CUS_001549,"dr. Omar Safitri, S.Sos",pria,Doktor,33,"Gg. Moch. Ramdan No. 79\nPadangpanjang, JI 45079",+62837-0843-6478,Single,16000000
3,CUS_003783,Jefri Megantara,pria,SMP,32,"Jl. Siliwangi No. 141\nBanjarbaru, Gorontalo 7...",+62841-0423-8958,Single,39500000
4,CUS_006014,Narji Sudiati,pria,SD,46,"Jl. Kutisari Selatan No. 0\nSurabaya, DKI Jaka...",+62875-1549-9775,Single,73000000
...,...,...,...,...,...,...,...,...,...
995,CUS_998278,Cut Dian Widodo,wanita,Sarjana,48,"Jl. Setiabudhi No. 286\nBitung, Banten 64106",+62842-2923-3463,Sudah menikah,67000000
996,CUS_998688,Surya Mandasari,wanita,SMP,49,"Jl. Jamika No. 48\nTebingtinggi, Gorontalo 73354",+62805-7600-7129,Single,69000000
997,CUS_998926,"Genta Sirait, S.T.",pria,Sarjana,40,"Gang Dr. Djunjunan No. 87\nSolok, JT 46412",+62821-1541-5374,Sudah menikah,54500000
998,CUS_999570,Dina Tarihoran,wanita,Sarjana,55,"Gang Jend. A. Yani No. 225\nBalikpapan, KS 88375",+62832-6850-7366,Single,43000000
999,CUS_999619,Betania Hidayat,pria,Sarjana,27,"Gang Merdeka No. 958\nLangsa, BT 23207",+62871-9706-4948,Sudah menikah,76500000

In [137]:
df[df['pendidikan'] == 'Magister']["umur"].min()

28

In [138]:
df[df['pendidikan'] == 'Doktor']["umur"].min()

30

In [141]:
df.loc[df['nama'].str.contains('Hj', case=False)]["gender"]

74     wanita
105    wanita
152    wanita
393    wanita
499    wanita
599    wanita
635    wanita
674    wanita
797    wanita
903    wanita
Name: gender, dtype: object

In [135]:
df[df['nama'].str.contains('HJ', case=False)]

,customer_id,nama,gender,pendidikan,umur,alamat,nomor_telepon,status_pernikahan,pendapatan
58,CUS_660291,Hj. Salsabila Kurniawan,pria,SD,49,"Jl. Asia Afrika No. 4\nKupang, JK 45765",+62862-8195-7657,Single,72500000
126,CUS_426616,Hj. Unjani Tamba,wanita,SMP,59,"Gang Siliwangi No. 60\nCimahi, AC 74356",+62850-0301-8742,Single,10000000
147,CUS_696045,Hj. Uli Wijayanti,wanita,SMA/SMK/MA,34,"Gang Ahmad Yani No. 8\nKediri, DI Yogyakarta 6...",+62801-6920-0008,Single,69500000
287,CUS_918156,"Hj. Salimah Mandasari, S.Kom",wanita,Sarjana,36,"Gg. Cikutra Barat No. 448\nSingkawang, JK 19942",+62862-3451-2177,Sudah menikah,50000000
419,CUS_266262,Hj. Puji Firmansyah,pria,SMA/SMK/MA,41,"Gang Pacuan Kuda No. 25\nPayakumbuh, GO 58540",+62838-3836-9831,Single,27000000
540,CUS_715729,Hj. Diana Dabukke,wanita,SMA/SMK/MA,39,"Jl. Ahmad Yani No. 6\nMeulaboh, SU 18689",+62827-4229-8473,Single,20500000
556,CUS_463236,Hj. Dina Suryatmi,pria,SMA/SMK/MA,42,"Gang Antapani Lama No. 764\nMeulaboh, LA 60724",+62882-4433-7852,Sudah menikah,68000000
628,CUS_289510,Hj. Safina Simanjuntak,wanita,SD,59,"Jl. Otto Iskandardinata No. 170\nPalopo, KU 06791",+62861-9122-9730,Sudah menikah,11500000
718,CUS_202333,"Hj. Nabila Prabowo, M.Ak",wanita,Magister,54,"Gg. Gedebage Selatan No. 539\nPariaman, Jawa T...",+62809-6194-6495,Single,34500000
922,CUS_304829,"Hj. Ajeng Hassanah, S.Kom",wanita,Sarjana,43,"Jalan Cihampelas No. 947\nSurabaya, Sulawesi S...",+62828-7657-2257,Sudah menikah,76500000
943,CUS_216732,Hj. Zamira Hutapea,pria,SD,37,"Gg. S. Parman No. 9\nMagelang, Bengkulu 18004",+62865-6815-1280,Single,51500000

In [142]:
df.gender.value_counts()

wanita    502
pria      498
Name: gender, dtype: int64

In [145]:
df.customer_id.min(), df.customer_id.max()

('CUS_002868', 'CUS_998990')