In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data_penduduk.csv")
df

          provinsi       2020       2021       2022
0             Aceh     5274.9     5333.7     5407.9
1   Sumatera Utara    14799.4    14936.2    15115.2
2   Sumatera Barat     5534.5     5580.2     5640.6
3             Riau     6394.1     6493.6     6614.4
4        Kep. Riau     2064.6     2118.2     2179.8
..             ...        ...        ...        ...
65          Maluku    1 848,9    1 862,6    1 881,7
66    Maluku Utara    1 282,9    1 299,2    1 319,3
67     Papua Barat    1 134,1    1 156,8    1 183,3
68           Papua    4 303,7    4 355,5    4 418,6
69       Indonesia  270 203,9  272 682,5  275 773,8

[70 rows x 4 columns]

In [3]:
df_cleaned = df.drop_duplicates(subset=['provinsi'], keep='first').set_index("provinsi")
df_cleaned

                          2020      2021      2022
provinsi
 Aceh                   5274.9    5333.7    5407.9
Sumatera Utara         14799.4   14936.2   15115.2
Sumatera Barat          5534.5    5580.2    5640.6
Riau                    6394.1    6493.6    6614.4
Kep. Riau               2064.6    2118.2    2179.8
Jambi                   3548.2    3585.1    3631.1
Sumatera Selatan        8467.4    8550.9    8657.0
Kep. Bangka Belitung    1455.7    1473.2    1494.6
Bengkulu                2010.7    2032.9    2060.1
Lampung                 9007.8    9081.8    9176.6
DKI Jakarta            10562.1   10609.7   10680.0
 Jawa Barat            48274.2   48782.4   49405.8
Banten                 11904.6   12061.5   12252.0
Jawa Tengah            36516.0   36742.5   37032.4
DI Yogyakarta           3668.7    3712.9    3761.9
Jawa Timur             40665.7   40878.8   41150.0
 Kalimantan Barat       5414.4    5470.8    5541.4
Kalimantan Tengah       2670.0    2702.2    2741.1
Kalimantan Selatan      4073.6    4122.6    4182.1
Kalimantan Timur        3766.0    3808.2    3859.8
Kalimantan Utara         701.8     713.6     727.8
Sulawesi Utara          2621.9    2638.6    2659.5
Gorontalo               1171.7    1181.0    1192.7
Sulawesi Tengah         2985.7    3021.9    3066.1
Sulawesi Selatan        9073.5    9139.5    9225.8
Sulawesi Barat          1419.2    1436.8    1458.6
Sulawesi Tenggara       2624.9    2659.2    2701.7
Bali                    4317.4    4362.7    4415.1
Nusa Tenggara Barat     5320.1    5390.0    5473.7
Nusa Tenggara Timur     5325.6    5387.7    5466.3
Maluku                  1848.9    1862.6    1881.7
Maluku Utara            1282.9    1299.2    1319.3
Papua Barat             1134.1    1156.8    1183.3
Papua                   4303.7    4355.5    4418.6
Indonesia             270203.9  272682.5  275773.8